@using SimpleAspNetMVC.Data.Models;
@model List<Book>

<input type="button" value="SortTitle" onclick="location.href='@Url.Action("Index", "Home", new {sort =  1})'" />
<input type="button" value="SortOut" onclick="location.href='@Url.Action("Index", "Home", new {sort =  2})'" />

@foreach (var b in Model)
{
    if (b.Out == true)
    {
        <p style="color:Red">@b.Title - @b.Author  <input type="button" value="Check In" onclick="location.href='@Url.Action("CheckBook", "Home", new {id = b.ID, newvalue = !b.Out})'" /> </p>
    }
    else
    {
        <p style="color:Green">@b.Title - @b.Author <input type="button" value="Check Out" onclick="location.href='@Url.Action("CheckBook", "Home", new {id = b.ID, newvalue = !b.Out})'" /> </p>
    }

}
